@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron mt-3">
    <h1>Welcome to Fast Food App</h1>

    <p>It only works with unique Name values.. Otherwise the the others objects with the same name will be useless</p>
</div>